---
#------------------- production -------------------
version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    command: yarn dev
    ports:
      - "5174:5174"
    volumes:
      - ./frontend:/usr/src/app
    networks:
      - mynetwork
    restart: always
    env_file:
      - ./frontend/.env

  api:
    build: ./backend
    container_name: game_api
    working_dir: /game_api
    command: >
      sh -c "
        python3 manage.py migrate &&
        python3 manage.py runserver 0.0.0.0:${CONTAINER_PORT}
      "
    volumes:
      - ./backend:/game_api
      - ./backend/media:/media
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT}"
    networks:
      - mynetwork
    restart: always
    environment:
      - TZ=Asia/Manila
    env_file:
      - ./backend/.env

networks:
  mynetwork:
    driver: bridge
